<div class="max-w-md mx-auto p-6 space-y-4 
            bg-white rounded-2xl shadow-xl 
            transition-all duration-300 hover:shadow-2xl">

  <h2 class="text-xl font-bold text-center">🎟 Crear Ticket</h2>

  <!-- CREAR -->
  <input class="w-full border p-2 rounded"
         placeholder="Nombre"
         [(ngModel)]="form.nombre">

  <input class="w-full border p-2 rounded"
         placeholder="CURP"
         [(ngModel)]="form.curp">

  <select class="w-full border p-2 rounded"
          [(ngModel)]="form.municipio_id">
    <option [ngValue]="null">Selecciona municipio</option>
    <option *ngFor="let m of municipios" [ngValue]="m.id">
      {{ m.nombre }}
    </option>
  </select>

  <button (click)="crear()"
          class="w-full bg-blue-500 text-white p-2 rounded 
       hover:scale-105 transition transform">
    Generar Ticket
  </button>

  <hr>

  <button (click)="logout()"
          class="w-full bg-red-500 text-white p-2 rounded 
       hover:scale-105 transition transform">
    Salir
  </button>

  <button (click)="irModificar()"
              class="w-full bg-orange-500 text-white p-2 rounded">
       Ir a modificar ticket
  </button>

</div>